.inationBtn{
    /* background-color: black; */
    width: 3.2vw;
    height: 5vh;
    margin-left: 3.2vw;
    background-color: #7b1e24;
    color: white;
    border: none;
    border-radius: 5px;
}
.inationBtn:hover{
    background-color: rgb(91, 89, 89);
    cursor: pointer;
}
#pageInationBox{
    margin-left: 34vw;
    margin-top: 10vh;
}